{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
    <h1 align="center">Notas</h1>
    <ul class="list-group list-group-flush" id="notas">
        {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.info }}
        <button type="button" class="close" onClick="borrarNota({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="nota" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Añadir nota </button>
      </div>
    </form>
    {% endblock %}